/* GENERIC */
* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
.dikhta {
	display: all !important;
}
.nahidikhta {
	display: none !important;
}
.splash {
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh !important;
	min-width: 100% !important;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
}
.buttonMgr {
	/* margin-top: 40px; */
	padding: 15px;
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}
.buttonMgr:hover {
	background-color: rgba(255,255,255,0.1);
	transition: 0.5s ease;
}

/* HEADER */
@media screen and (min-width: 801px){
	.min-header {
		display: none;
	}
}
.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
.header ul {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: rgba(0,0,0,0.9);
	transition: background 0.5s ease;
}
.header ul:hover {
	background-color: black;
}
.header ul li {
	display: inline;
	padding-left: 2%;
	padding-right: 2%;
}
.header ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: Segoe UI;
	color: white;
	font-size: 100%;
	transition: border 0.5s ease;
	border-bottom: 3px solid transparent;
}
.header ul li a:hover {
	border-bottom: 3px solid;
	transition: border 0.5s ease;
}
.dist {
	color: #EAA221 !important;
	font-weight: bold;
}
@media screen and (max-width: 800px) {
	.header {
		display: none;
	}
	.min-header {
		display: all;
		position: fixed;
		top: 0;
		z-index: 1;
		font-family: Segoe UI;
	}
	#burger:hover {
		background-color: white;
		transition: 0.5s ease;
	}
	#burglist li:hover {
		background-color: rgba(0,0,0,1);
	}
}

/* HOME */
#home {
	background-color: black;
	background-image: url("../img/marigold_back.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
}
#home h1 {
	font-size: 100px;
}
#home p {
	font-size: 20px;
}
#home i {
	position: absolute;
	bottom: 10px;
	font-size: 30px;
	align-self: center;
	background-color: white;
	border-radius: 5px;
	transition: 0.5s ease;
}
#home i a {
	color: #A51C30;
	text-decoration: none;
}
#home i:hover {
	opacity: 0.7;
	transition: 0.5s ease;
}
@media screen and (max-width: 801px){
	#home h1 {
		font-size: 50px;
	}
}

/* ABOUT */
#about {
	background-color: #A51C30;
	color: white;
}
#about h1 {
	font-size: 50px;
	margin-bottom: 40px;
}
#about p {
	margin: 0 auto;
	max-width: 60vw;
	font-size: 20px;
	text-align: justify;
}
#about a {
	width: 75px !important;
	margin: 0 auto;
	margin-top: 40px;
}
@media screen and (max-width: 801px){
	#about h1 {
		margin-bottom: 30px;
	}
	#about p {
		max-width: 70vw;
		font-size: 15px;
		text-align: center;
	}
}

/* PROJECTS */
#projects {
	background-color: #2f5ce2;
}
#projects h1 {
	color: white;
	font-size: 50px;
	margin-bottom: 40px;
}
#projects img {
	max-width: 100vw !important;
}
.slideshow-container {
	position: relative;
}
.mySlides {
	display: none;
}
#projects img {
	vertical-align: middle;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.5s ease;
}
.prev {
	left: 0;
	border-radius: 0 5px 5px 0;
}
.next {
	right: 0;
	border-radius: 5px 0 0 5px;
}
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
.numbertext {
	color: #f2f2f2;
	font-size: 15px;
	padding-top: 9px;
	padding-bottom: 8px;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 10px 2px;
	border: 1px solid white;
	background-color: #2f5ce2;
	border-radius: 50%;
	display: inline-block;
	transition: background 0.5s ease;
}
.active, .dot:hover {
	background-color: white;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
#projects a {
	margin: 0 auto;
	max-width: 300px !important;
}
@media screen and (max-width: 801px){
	.slideshow-container {
		max-width: 100vw !important;
	}
	.prev, .next {
		padding: 10px;
		background-color: rgba(0,0,0,0.8);
	}
}
@-webkit-keyframes fade {
	from {opacity: 0.4}
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: 0.4}
	to {opacity: 1}
}

/* MARIGOLD */
#marigold {
	background: url("../img/marigold_back1.png");
	background-attachment: fixed;
}
